@import "tailwindcss";

@theme {
  --color-brand-primary: #111719;
  --color-brand-secondary: #202629;
  --color-brand-accent: #D5A547;
  --color-brand-accent-soft: #E7C477;
  --color-brand-offwhite: #F5F5F3;
  --color-brand-muted: #626970;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-plus-jakarta-sans);
}

@layer base {
  body {
    @apply font-sans antialiased bg-white text-[#111719];
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}
